<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTribes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0819C1891F95053D001CDD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0819C19D1F95053D001CDD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0819C1A81F95053D001CDD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
